<!DOCTYPE html>
<html>
<head>
    <title>Servidor Windows - Ansible</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        h1 { color: #673593ff; }
        .info { background-color: #d9e5edff; padding: 15px; border-radius: 5px; }
    </style>
</head>
<body>
    <h1>Prueba de roles en rhel</h1>
    <div class="info">
        <p><strong>Usuario creado:</strong> {{ win_user }} </p>
        <p><strong>Servidor:</strong> {{ ansible_hostname }}</p>
        <p><strong>Sistema Operativo:</strong> {{ ansible_os_family }}</p>
        <p><strong>Fecha de configuración:</strong> {{ ansible_date_time }} </p>
    </div>
    <h2>IIS está funcionando correctamente</h2>
</body>
</html>